{
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "css",
    "overrides": [
        {
            "files": ["*.scss", "*.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
