$mdc-theme-primary: #e82041;
$fa-font-path: '~@fortawesome/fontawesome-pro/webfonts';
$roboto-font-path: '~roboto-fontface/fonts';
@import 'roboto-fontface/css/roboto/sass/roboto-fontface-regular';
@import '@material/button/mdc-button';
@import '@fortawesome/fontawesome-pro/scss/fontawesome';
@import '@fortawesome/fontawesome-pro/scss/regular';

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.hidden {
    display: none;
}

#panel {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 15px;
    min-width: 255px;
    z-index: 1500;
    flex-direction: column;
    transform: translateX(-50%) translateY(100%);
    background: rgba($color: #fff, $alpha: 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.7s ease-in-out;

    .mdc-button:not(:last-child) {
        margin-bottom: 7px;
    }
    &.visible {
        transform: translateX(-50%) translateY(0);
    }
    .far,
    .fad {
        margin-right: 10px;

        &::after {
            opacity: 1;
        }
    }
}

.far,
.fad {
    font-style: inherit;
}

#scene-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.3s linear;
}

.scenario-title {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-50%);
    text-transform: uppercase;
}

#debug-btn {
    position: absolute;
    padding: 10px;
    width: 50px;
    height: 50px;
    min-width: auto;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    z-index: 1500;
    transition: opacity 0.5s ease;

    .mdc-button__ripple {
        border-radius: 50%;
    }
}

@media (min-width: 600px) {
    .scenario-title {
        font-size: 5rem;
    }
}
